/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/ebook/ebook_cover
/public/ebook/ebook_files
/public/ebook/sample_ebook_files

public/image/profile_photos
public/js/library
public/css/library