h1 {
  color: red;
  font-weight: bold;
}

.button {
  background-color: red; 
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 5px;
}

button {
  font-size: 14px;
}