#profile-photos {
	height: 60px;
	width: 60px;
}

p.user-name {
	margin-bottom: 5px;
}

hr {
	border-top: 1px solid #000;
}

#deleteAccount {
	color: red;
}

#deleteAccount:hover {
	cursor: pointer;
}

small {
	color: red;
}